.explorerWrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* Background 3D Scene */
.canvasBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; /* behind UI */
}

/* Floating UI Panel */
.uiContainer {
  position: absolute;
  top: 70px;
  left: 20px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Top bar */
.topBar {
  position: absolute;
  top: 0;
  width: 100%;
  height: 56px;
  background: rgba(220, 219, 219, 0.45);
  display: flex;
  align-items: center;
  padding: 0 1rem;
  z-index: 20;
  backdrop-filter: blur(5px);
}

.topBarBtns {
  margin-left: auto;
  display: flex;
  gap: 0.75rem;
}

.cellDropdownWrapper {
  margin: 0 auto;
}
